* {
  margin: 0px;
  padding: 0px;
}

html, body {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.5;

  background-color: $background-color;
  color: $foreground-color;
}

h1, h2, h3, h4, h5, h6 {
  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  font-family: "Roboto", sans-serif;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  line-height: 1;
}
h2, h3, h4, h5, h6
{
  font-weight: 300;
}
h1 > span
{
  margin-left: 38px;
  font-weight: 300;
  font-size: 0.8em;
}

h1.post:before, h2.post:before {
  content: "// ";
  color: $foreground-color;
  opacity: 0.5;
}

/* TODO: Use unicode and/or awesomefont? */

h1.tag:before, h2.tag:before {
  content: "# ";
  color: $foreground-color;
  opacity: 0.5;
}

h1.year:before, h2.year:before {
  content: "# ";
  color: $foreground-color;
  opacity: 0.5;
}

a {
  color: $foreground-color;
  text-decoration: underline;
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}

small {
  opacity: 0.8;

  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}

main {
  max-width: 768px;
  min-height: 100%;
  margin: 0px auto 0px auto;
  padding: 0px 20px 0px 20px;
  position: relative;

  > header {
    padding-top: 2em;
    text-align: center;

    > .logo {
      border-radius: 50%;
      display: inline-block;
      width: 90px;
      height: 90px;

      > img {
        width: 100%;
        height: 100%;
      }
    }
  }

  > nav {
    margin-top: 20px;
    margin-bottom: 20px;

    > ul {
      display: flex;
      justify-content: space-around;

      > a, li {
        display: block;
        width: 100%;
        text-align: center;
        padding-bottom: 12px;

        border-bottom: 2px solid $border-color;
        transition: border-bottom-color 0.3s ease;

        text-transform: uppercase;
        text-decoration: none;
      }

      > a.active, > a:hover, > li.active, li.hover
      {
        border-bottom-color: $foreground-color;
      }
    }
  }

  > article {
    padding-bottom: $footer-height + 20px;
    font-family: "Roboto Slab", serif;

    > header {

      > h1 {
        font-size: 36px;
        font-weight: bold;
      }
    }

    > section.comments {
      padding-bottom: 10px;
    }

    > section.related > ul {
      display: flex;
      flex-flow: row wrap;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-content: stretch;
      margin-left: -0.5em;
      margin-right: -0.5em;
    }

    > section.categories > h2:before {
      content: "# ";
      color: $foreground-color;
      opacity: 0.5;
      > a {
        text-decoration: none !important;
      }
    }
  }

  > footer {
    height: $footer-height;
    position: absolute;
    bottom: 0px;
    left: 20px;
    right: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 0.8em;

    > ul {

      > h2, h3 {
        margin-top: 0px;
      }

      > li {
        display: block;
      }
    }
  }
}

div.postbox {
  border: 2px solid $border-color;
  border-radius: 3px;
  padding-left: 0.7em;
  padding-right: 0.7em;
  margin-bottom: 1em;
}
div.postbox.brief {
  box-sizing: border-box;
  display: inline-block;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 15em;
  min-width: 15em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.highlight {
  background-color: darken($background-color, 2%);

  > pre {
    padding: 1.25rem;
    > code {
      white-space: pre-wrap;
    }
  }
}
