<footer>
  <ul>
    <h3>Feeds</h3>
    <li><a href="{{ site.baseurl }}/feed.atom">Atom</a></li>
    <li><a href="{{ site.baseurl }}/feed.rss">RSS 2.0</a></li>
    <li><a href="{{ site.baseurl }}/sitemap.xml">Sitemap</a></li>
  </ul>
  <ul>
    <h3>{{ site.author.name }} on</h3>
    <li><a href="https://github.com/{{ site.author.github }}">GitHub</a></li>
    <li><a href="https://twitter.com/{{ site.author.twitter }}">Twitter</a></li>
    <li><a href="https://keybase.io/{{ site.author.keybase }}">Keybase</a></li>
  </ul>
</footer>
