---
layout: compress
---

<!DOCTYPE html>
<html>
<head>
  <title>{% if page.title %}{{ page.title }} &middot; {% endif %}{{ site.title }}</title>
  {% if page.description %}
    <meta name="description" content="{{ page.description }}" />
  {% endif %}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <link rel="stylesheet" href="{{site.baseurl}}/css/syntax.css" type="text/css"/>
  <link rel="stylesheet" href="{{site.baseurl}}/css/main.css" type="text/css"/>

  <link href="https://fonts.googleapis.com/css?family=Roboto:300,700,400" rel="stylesheet" type="text/css"/>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet" type="text/css"/>

  <link href="{{site.baseurl}}/feed.rss" rel="alternate" type="application/rss+xml" title="RSS 2.0 Feed"/>
  <link href="{{site.baseurl}}/feed.atom" rel="alternate" type="application/atom+xml" title="Atom Feed"/>
  <link href="{{site.baseurl}}/sitemap.xml" rel="sitemap" type="application/xml" title="Sitemap"/>
</head>
<body>
  <main>
    {{ content }}
  </main>
</body>
</html>
