---
layout: article
---

<section class="post">
  {{ content }}

  {% include postlicense.html post=page %}
  {% include postmeta.html post=page %}
</section>

<section class="related">
  <h2>Related Posts</h2>
  <ul>
    {% if site.related_posts != empty %}
      {% for post in site.related_posts limit:4 %}
        {% include postbox.html post=post brief=true %}
      {% endfor %}
    {% else %}
      No related posts found.
    {% endif %}
  </ul>
</section>

{% if site.disqus and page.comments != false %}
  {% include disqus.html %}
{% endif %}
